<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="description">
            <h2 class="footer-heading">Teashaped Development</h2>
            <p>{{- site.description | escape -}}</p>
        </div>

        <nav class="footer-nav">
                <a  href="https://fehlhaberconsulting.se">Fehlhaber Consulting</a>
        </nav>

        <div class="social">
            {%- include social.html -%}
        </div>
    </div>
</footer>